.addchat{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    border-radius: 10px;

}
.name{
    color:white;
}
.chats{
    overflow-y: scroll;
    height: 70%;
}
.add{
    color: white;
    font-size: 20px;
    margin-left: 80px;
}

.search{
    background-color: #001030;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    width:350px;
    margin-bottom: 20px;
}

.search .search-icon{
    font-size: 25px;
    color: white;
}

.search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
}

.search input::placeholder{
    color: #c8c8c8
}

.search{
    background-color: #001030;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
    margin-top: 20px;
}

.search .search-icon{
    font-size: 25px;
}

.search input{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 11px;
}

.search input::placeholder{
    color: #c8c8c8
}

.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}

.users img{
    width: 35px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.users{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 13px;
    align-items:center;
    justify-content: space-between;
    margin: 15px;
    background-color: #001030;
    width:350px;
}

.users div{
    display: flex;
    flex-direction: column;
}

.users span{
    color: #9f9f9f;
    font-size: 11px;
}

.users:hover span{
    color: white;
}

.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}